.y-backdrop {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  will-change: opacity;
}

.y-open > .y-backdrop {
  pointer-events: all;
}

.y-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  left: -18rem;
  width: 18rem;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform, scroll;
  background: #f8f8f8;
}

.y-open > .y-sidebar {

}

/*.y-content {
  margin-left: 18rem;
}

.y-active > .y-content {
  margin-left: 0;
}

.y-open > .y-content {

}*/
